@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(font?kit=BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISWaw&skey=a9ad6a4717e923f0&v=v34) format('woff');
}
