on:
  push:
    paths:
      - README.Rmd
  schedule:  # run every day
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 0 * * *'

name: Render README

jobs:
  render:
    name: Render README
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v2
      - uses: r-lib/actions/setup-r@v1
      - uses: r-lib/actions/setup-pandoc@v1
      - name: Install Dependencies
        run: Rscript -e 'install.packages(c("rmarkdown", "tidyverse", "zoo", "deepdep", "cranlogs", "rstanarm", "see", "ggrepel", "tidyRSS", "insight", "bayestestR", "performance", "parameters", "effectsize", "modelbased", "correlation", "report"))'
      - name: Render README
        run: Rscript -e 'rmarkdown::render("README.Rmd")'
      - name: Commit results
        run: |
          git commit README.md -m 'Re-build README.Rmd' || echo "No changes to commit"
          git push origin || echo "No changes to commit"

